* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.board {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  min-width: 300px;
  margin: 15px;
  padding: 15px;

  border: 2px solid black;
  background-color: #eee;
}

.board__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.task {
  margin: 5px 0;
  padding: 10px;

  border: 1px solid black;
  background-color: #fff;
  cursor: grab;
}
